.animals-base-container{
    height: 100%;
}

.animals-content-container{
    height: 85%;
    display: flex;
    flex-direction: column;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;
    height: 100%;
}
/*

.container > div > img{
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/3;
    height: 100%;
}

.container > div > .info{
    grid-column: 1/3;
    grid-row: 2/4; 
    display: flex;
    flex-direction: column;
}
.container > div > .info >#info-1{
    grid-column: 1/3;
    grid-row: 2/3;
}
#info-2{
    grid-column: 1/3;
    grid-row: 3/4;
}


 .container > div > .description{
    grid-row: 4/5;
    grid-column: 1/3;
    margin: 25px;
}

.container > div > .date{
    grid-row: 5/6;
    grid-column: 2;
    display: flex;
    margin-right: 10px;
}

.container > div{
    border-radius: 10px;
    display: grid;
    grid-template-rows: 60% 10% 10% 15% 5%;
    grid-template-columns: 50% 50%;
    height: 60%;
}
*/