.animals-base-container{
    height: 100%;
    background-color: white;
}

.animals-content-container{
    height: 85%;
    display: flex;
    flex-direction: column;
    background:linear-gradient(180deg, rgba(229, 232, 237, 0.8) 0%, rgba(200, 207, 217, 0.8) 100%); ;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 3em;
    padding: 0 2em;
    overflow: auto;
    height: 100%;
    align-items: center;
    justify-items: center;
}

.filter
{

}

* {
    box-sizing: border-box;
    text-align: -webkit-center;
}
