
.home-page
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    background-image: url('../../img/start_page_background.png');
    background-size: cover;
}
.home-page-content{
    display: flex;
    height: 85%;
}
.text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    flex: 1 1;
}
.home-dog-container {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    flex: 1;
  }
  
  .dog-container > img {
    width: 90%;
    height: 95%;
  }

  input{
      
  }

  /* background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #9a9a9a;
  padding: 1em;
  margin: 4%;
  width: 35%;
  height: 30%;
  border-radius: 50px;
  font-size: 20px; */