.login-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.login-page-content {
  display: flex;
  height: 85%;
}

.dog-container {
  background-color: #f7f9ff;
  display: flex;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
  flex: 1;
}

.dog-container > img {
  width: 95%;
}
