body{
       position:relative;
       overflow:hidden;
   }

.post-base-container{
   background-color: white;
    height: 100%;
    width: auto;
}

.post-info-container{
    background: linear-gradient(180deg, rgba(229, 232, 237, 0.8) 0%, rgba(200, 207, 217, 0.8) 100%);
    height: 85%;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 30% 20% 20%;
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;
}
#post-name-icon{
    margin-top:1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 4em;
    color: #E2A300;
}
.post-description-container{
    display: flex;
    flex-direction: column;
    width: 80%;
}
#icon-heart{
    color:#B7B7B7;
    font-size:0.5em;
    font-weight: 400;
    cursor: pointer;
}
#post-name{
    border-bottom: 3px solid #7c7c7c;
    margin-bottom: 0.2em;
}

.post-descritpion{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    color: #909090;
    margin-top:2em;
    margin-bottom:0.5em;
    word-wrap: break-word;
    max-height: 200px;
}

.post-information{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    font-size: 12px;
    align-items: center;
}

#post-city, #post-size, #post-bread{
    background: #edeef0;
    border:none;
    border-radius: 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    color: #484848;
    padding: 1em 1em;
    width:70%;
    text-align: center;
    margin-bottom:1em;
    margin-top: 2em;
    filter: drop-shadow(0px 4px 30px rgba(70, 120, 197, 0.15));
}

#post-age, #post-health, #post-gender{
    background: white;
    border:none;
    border-radius: 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    color: #484848;
    padding: 0.5em 1em;
    width:70%;
    text-align: center;
    object-fit:cover;
    margin-bottom:1em;
    margin-top: 2em;
}
.post-date{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.7em;
    color: #919191;
}

.thumbnail {
     margin: 0 5px;
     height: 100px;
     width: 100px;
    object-fit: cover;
    border-radius: 5px;
}
.post-carousel{
    grid-row: 1/5;
    grid-column: 1/2;
    height: 70%;
    width: 70%;
    max-width: 600px;
    max-height: 700px;
    align-self: center;
    justify-self: center;
}

.post-last-info{
    grid-row: 4/5;
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: start;

}

.post-last-info > * {
    margin-right: 4em;
}

.post-last-info > *:not(:last-child) {
    background: #B7B7B7;
    border-radius: 52px;
    color: #ffffff;
    padding: 5px 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#calendar{
    background: #4678C5;
    border-radius: 52px;
    color:white;
    padding:0.5em 1em;
    text-align: center;
    margin-bottom: auto;
}

#post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

#image-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -3em;

}

#photo-name {
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    background: rgba(255, 255, 254, 0.9);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    padding: 25px 60px;
    margin-left: -2em;
}

#photo-male {
    color:white;
    z-index: 10;
    font-size: 25px;
    background: rgba(255, 255, 254, 0.9);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    padding: 10px 15px;
    margin-right: -1em;
    display: flex;
    justify-content: center;
}

#photo-male *{
    padding: 10px;
    border-radius: 30px;
}

#photo-male.female *{
    background-color: #E3668C;
}

#photo-male.male *{
    background-color: #4678C5;
}

.extraClass {
    font-size: 16px !important;
    pointer-events: auto !important;
}

.extraClass:hover {
     visibility: visible !important;
     opacity: 1 !important;
}