.login-page-content{
    display: flex;
}
.buttons-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20%;
    width: 100%;
    height: 30%;
    justify-content: center;
}

.head {
    font-size: 300%;
    margin: 10%;
}