.button {
  display: flex;
  border-radius: 36px;
  background-color: #E2A300;
  border: none;
  color: #ffffff;
  font-size: 28px;
  padding: 25px;
  width: 45%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 42px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}