.search {
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    border: none;
    font-size: 32px;
    padding: 24px;
    width: 40%;
    cursor: pointer;
    margin: 8px;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.text{
    flex: 1 1;
    height: fit-content;
    width: fit-content;
}
.icon{
    flex: 1;
    padding: 1em;
}

.find {
    width: 100%;

}