.search {
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  border: none;
  padding: 0 16px;
  width: 100%;
  max-width: 560px;
  height: 54px;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.text {
  flex: 1 1;
  height: fit-content;
  width: fit-content;
}
.icon {
  margin-right: 15px;
}

.find {
  width: 100%;
}
