.navbar {
  width: 100%;
  min-height: 15%;
  display: flex;
  justify-content: space-between;
}
.login {
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #f7f9ff;
}
.search {
  background-color: #f5f5f5;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search .icon {
  margin-right: 60px;
  color: #373737;
}

.navbar-items {
  background-color: #f7f9ff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

.navbar-item {
  color: #7c7c7c;
  text-decoration: none;
}

.navbar-item:hover {
  border-bottom: 3px solid #e2a300;
}

.active-navbar {
  border-bottom: 3px solid #e2a300;
}

.active-navbar,
.navbar-logo {
  background-color: transparent !important;
}
